In [45]:
import re
import numpy as np
import pandas as pd
from tqdm import tqdm 


with open('big.txt','r') as fd:
    lines = fd.readlines()
    words = []
    for line in lines:
        words += re.findall('\w+', line.lower())

### 1. Getting the Pairs

In [46]:
def get_pairs(words, n):
    
    data = []
    for i in range(len(words) - n):
        data.append(' '.join(words[i:i+n]))
    return data

### 2. Get Probability Distribution

In [47]:
def get_prob_dist(data):
    
    prob_dist = []    
    a = np.array(data)
    pairs, counts = np.unique(a, return_counts = True)
    
    for i in range(len(pairs)):
        
        left_seq   = ' '.join(pairs[i].split(' ')[:len(pairs[i].split(' '))//2])
        right_seq  = ' '.join(pairs[i].split(' ')[len(pairs[i].split(' '))//2 + 1: ])
        middle_seq = pairs[i].split(' ')[len(pairs[i].split(' '))//2]
        
        prob_dist.append([pairs[i],left_seq, right_seq, middle_seq, counts[i]])
        
    return prob_dist
        
    
data = get_pairs(words,3)
prob_dist = get_prob_dist(data)

df = pd.DataFrame(prob_dist, columns = ['seq','left_seq','right_seq','output','freq'])
df.head()

        seq left_seq right_seq output  freq
0  0 05 grm        0       grm     05     1
1    0 25 u        0         u     25     1
2  0 45 grm        0       grm     45     1
3    0 5 to        0        to      5     1
4   0 6 grm        0       grm      6     4

### 3. Getting the Predictions

In [50]:
def predict(word):
    
    left_seq  = word.split('_')[0].strip()
    right_seq = word.split('_')[1].strip()

    df_ = df[df['left_seq'] == left_seq]
    df_ = df_[df_['right_seq'] == right_seq]

    return list(df_.sort_values(by = 'freq', ascending = False).head()['output'].values)


predict('the _ states')

['united', 'several', 'southern', 'northern', 'planting']

In [49]:
df.sort_values(by = 'freq')

                            seq     left_seq right_seq  output  freq
0                      0 05 grm            0       grm      05     1
532804  ponderous maketh repaid    ponderous    repaid  maketh     1
532805       ponderous steps up    ponderous        up   steps     1
532806         pondicherry in a  pondicherry         a      in     1
532807   pondicherry in january  pondicherry   january      in     1
...                         ...          ...       ...     ...   ...
300214               he did not           he       not     did   239
485191            of the united           of    united     the   242
511323               out of the          out       the      of   253
699401        the united states          the    states  united   380
497287               one of the          one       the      of   380

[829931 rows x 5 columns]